/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'work sans', sans-serif;
}



.container {
    padding: 0px 15px;
    width: 100%;
    margin: 0px auto;
}

/* Mobile-first approach */
/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
    .features .container {
        grid-template-columns: 1fr; 
      }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 720px;
        
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    } 
}

.special-title {
    letter-spacing: -0.01em;
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    margin: 0px;
}
.special-title + p {
    font-size: 16px;
    color: #545b6b;
    text-align: center;
    margin: -30px 0px 0px;
}
@media (max-width: 768px) {
    .special-title {
        font-size: 60px;
    }
    .special-title + p {
        font-size: 14px;
        margin-top: -20px;
    }
}
/* end global rules */
/* Start Variables */                
:root {
    --primary-color: #10cab7;
    --secondary-color: #f6f6f6;
    --section-padding: 60px;
}
/* End Variables */

/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
    z-index: 2
}
.header .links .icon span:nth-child(1) {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:nth-child(3) {
    width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
/* links */
.header .links ul {
    list-style: none;   
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    top: calc(100% + 10px);
    display: none;
    z-index: 2;

}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:nth-child(4)) a {
    border-bottom: 1px solid #ddd;
}

/* end header */
/* Start landing section */
.landing{
    padding: 20px;
    z-index: 1;
}
.landing {
    background-image: url('../images/1399673.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px);
    position:relative ;

}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.landing .text h1 {
    font-size: 50px;
    margin-top: 0%;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
.landing .text p {
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
    
}
/* End landing section */
/* Start features*/
.features {
    padding: var(--section-padding) 0px;
    background-color: var(--secondary-color);

}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i {
    font-size: 50px;
    color: var(--primary-color);
}
.features .container .feat h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}
.features .container .feat p {
    font-size: 15px;
    line-height: 1.8;
    color: #545b6b;
}
/* End features */
/* Start services */
.services {
    padding: var(--section-padding) 0px;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services-content  .srv {
    display: flex;
    
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .services-content  .srv {
        flex-direction: column ;
        align-items : center;
        text-align: center;
    }

}
.services-content .srv i {
    color: var(--primary-color);
    flex-basis: 60px;
    font-size: 40px;
    margin: 0px 20px;
}
.services-content .col .text {
    flex: 1;
}
.services-content .col .text h3 {
    margin: 0 0 20px;
}
.services-content .col .text p {
    color: #777;
    font-weight: 300;   
    line-height: 1.8;
    
}
.services-content .col .image {
    text-align: center;
    position: relative;
}
.services-content .col .image::before {
    content: '';
    position: absolute;
    height: calc(100% + 100px);
    background-color : #182b43; 
    width: 110px;
    right: 0;
    top: -50px;
    z-index: -1;
}
.services-content .col img{
    width: 240px;
}

@media (max-width: 1199px) {
    .col .image {
        display: none;
    }
}
/* End services */
/* Start portfolio */
.portfolio {
    padding: var(--section-padding) 0px;
    background-color: var(--secondary-color);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px
}
.portfolio .portfolio-content .box {
    background-color: #ffffff;
}
.portfolio .portfolio-content .cover {
    width: 100%;
    height: 320px;
    overflow: hidden; 
    background-color: var(--primary-color);
}
@media (max-width: 1199px) {
    .about .about-content .box:has(.image) {
        display: none;
     }
     .about .about-content .text {
        margin: 20px;
        text-align: center;
     }
}

.portfolio .portfolio-content img {
    width: 100%;
}
.portfolio .portfolio-content .text {
    padding:20px;
}
.portfolio .portfolio-content .text h3 {
    font-weight: 800;
    font-size: 20px;
    margin: 0 0 10px;
}
.portfolio .portfolio-content .text p {
    font-size: 15px;
    line-height: 1.8;
    color: #545b6b;
    
}
/* End portfolio */
/* Start about */
.about {
    padding: var(--section-padding) 0px;
}
.about .about-content {
    display: flex;
    gap: 50px;
    margin-top: 100px
}
.about .about-content .box {
    width: 100%;
    
}

.about .about-content .image {
   /* overflow: hidden; */
   background-color: var(--secondary-color);
   height: 400px;
   width: 400px;
   position: relative;
}
.about .about-content .image::before {
    content: '';
   position: absolute;
   height: 350px;
   width: 100px;
   background-color: var(--primary-color);
   right: -50px;
   top: -50px;
   z-index: -1;
}
.about .about-content .image::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 200px;
    background-color: var(--primary-color);
    top:220px;
    right:-120px;
    z-index: -1;
    /* margin-bottom: -100px ; */
}
.about .about-content .image img {
    margin-top: -300px ;
    width: 100%;
}
.about .about-content .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;

}
.about .about-content .text p:first-child {
    font-size: 20px;
    line-height: 1.8;
    color: #404040;
    font-weight: 500;
}
.about .about-content .text p:last-child {
    font-size: 18px;
    line-height: 1.8;
    color: #404040;
    font-weight: 300;
}
.about .about-content .text .line {
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

/* End about */
/* Start contact */
.contact {
    padding: var(--section-padding) 0px;
    background-color: var(--secondary-color);
}
.contact .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 100px
}
.contact .contact-content h1 {
    font-size: 45px;
    color: #183943;
    font-weight: 900;
    margin: 0px;
}
.contact .contact-content a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    transition: 0.2s ease;
}
.contact .contact-content a:hover {
    color: #183943;
   
}
.contact .contact-content .social-networks {
    display: flex;
    gap: 50px;
}
.contact .contact-content .social-networks p {
    font-size: 20px;
    color: #183943;
}
.contact .contact-content .social-networks ul {
    display: flex;
    gap: 30px;
    color: #183943;
   
}
.contact .contact-content .social-networks ul li {
    list-style: none;
    font-size: 25px;
    color: #183943;
    transition: 0.2s ease;
}
.contact .contact-content .social-networks ul li:hover {
    color: var(--primary-color);
}
@media (max-width: 800px) {
   .contact .contact-content h1{
    font-size: 40px;
    text-align: center;
    margin: 0px auto;
   }
   .contact .contact-content a {
    font-size: 35px;
    text-align: center;
    margin: 0px auto;
   }
   .contact .contact-content .social-networks {
    margin: 0px auto;
   }
  }
@media (max-width: 500px) {
    .contact .contact-content h1{
        font-size: 35px;
        text-align: center;
        margin: 0px auto;
       }
       .contact .contact-content a {
        font-size: 25px;
        text-align: center;
        margin: 0px auto;
       }
       .contact .contact-content .social-networks {
        margin: 0px auto;
       }
}

/* Start Footer */
.footer {
    padding: 40px;
    background-color: #183943;
}
.footer p {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.footer p a {
    color: var(--primary-color);
    text-decoration: none;
}
.footer p a:hover {
    color: #5df7e8;
}
/* End Footer */

